<html>
    <head>
        <title>Judul Situs</title>
        <style>
            header {
                background-color: red;
                color: white;
                padding: 10px;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>Judul Header</h1>
        </header>
    </body>
</html>